---
// import '../styles/global.css';

import Item from "../components/Item.astro";
// import Navigation from "../components/Navigation.astro";
import FooterReact from "../components/Footer";
import ButtonReact from "../components/Button";
import ButtonAstro from "../components/Button.astro";

import ButtonReactAfter from "../components/ButtonAfter";
import List from "../components/List";


const response = await fetch(
  "https://pokeapi.co/api/v2/pokemon?offset=1&limit=5"
);
const data = await response.json();
const randomUser = data.results;

const responseGhibli = await fetch(
  "https://ghibliapi.vercel.app/films"
);
const dataGhibli = await responseGhibli.json();
const ghibliData = dataGhibli;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={"Hello"} />
    <title>Astro</title>
  </head>
  <body>
    <div>
      <ButtonReact client:idle />
      <ButtonReactAfter client:idle />
      <div>
        {
          randomUser.map((item, index) => {
            return <Item data={item} index={index} />;
          })
        }
      </div>
      <div>
        <List data={ghibliData} client:idle/>
      </div>
      <div>
        <FooterReact client:visible />
      </div>
    </div>
  </body>
</html>
