---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Item from "../components/Item.astro";
import Navigation from "../components/Navigation.astro";
import FooterReact from "../components/Footer";
import ButtonReact from "../components/Button";

const response = await fetch(
  "https://pokeapi.co/api/v2/pokemon?offset=1&limit=300"
);
const data = await response.json();
const randomUser = data.results;

---

<!doctype html>
<html lang="en">
  <body>
    <ButtonReact client:visible />
    <ul>
      {
        randomUser.map((item, index) => {
          return <Item data={item} index={index} />;
        })
      }
    </ul>
    <FooterReact client:visible />
  </body>
</html>
