---
import { Image } from "astro:assets";
import BoxImg from "./Item";
interface Props {
  data: {
    name: string;
    avatar: string;
  };
  index: number;
}
const { data, index } = Astro.props;
---

<li>
  <BoxImg client:visible data={data} index={index}>
    <Image src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${index + 1}.png`} alt={data.name} width="100" height="100" />
  </BoxImg>
</li>
