---
import { Image } from "astro:assets";
import BoxImg from "./Item";
interface Props {
  data: {
    name: string;
    avatar: string;
  };
  index: number;
}
const { data, index } = Astro.props;
---

<li>
  <BoxImg client:visible data={data} index={index}>
    <Image src={data.avatar} alt={data.name} width="50" height="50" />
  </BoxImg>
</li>
